/* Space Background Styles */

.space-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    z-index: -1;
}

.stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
}

.stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: inherit;
}

.stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
}

.stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: inherit;
}

.stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinite;
}

.stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: inherit;
}

/* Floating Asteroids */
.asteroid {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.1));
}

.asteroid-1 {
    width: 80px;
    height: 80px;
    top: 20%;
    left: -100px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/696/696803.png');
    animation: floatAsteroid1 35s linear infinite;
}

.asteroid-2 {
    width: 120px;
    height: 120px;
    bottom: 15%;
    right: -150px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/2530/2530863.png');
    animation: floatAsteroid2 45s linear infinite;
    animation-delay: -10s;
}

.asteroid-3 {
    width: 50px;
    height: 50px;
    top: 10%;
    right: 20%;
    background-image: url('https://cdn-icons-png.flaticon.com/512/547/547434.png');
    animation: floatAsteroid3 60s linear infinite;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

@keyframes floatAsteroid1 {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    100% {
        transform: translateX(calc(100vw + 200px)) rotate(360deg);
    }
}

@keyframes floatAsteroid2 {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    100% {
        transform: translateX(calc(-100vw - 300px)) rotate(-250deg);
    }
}

@keyframes floatAsteroid3 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-100px, 50px) rotate(180deg);
    }

    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}